.navv
{
	
	background-color:rgb(193,0,0);
	
}  

.navcolor
{
	
	background-color:white;
	
}  


.colorr
{
	color:black;
}

.mystyle
{
	font-style:italic;
	font-weight:bold
}

<!.hov a
{
	
}

.hov a:hover
{
	
	font-weight:bold;
	background-color:yellow;
	
	
}

.hov a:active
{
	font-weight:bold;
	background-color:pink;
	
	
}

.heading
{
	color:blue;
}

.t
{
	background-color:rgb(180,0,0);
}